@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Sora:wght@100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.inter {
    font-family: "Inter", sans-serif;
}
.poppins {
     font-family: "Poppins", sans-serif;
}

    .primary-c{
            color: #0066FF;
        }
        .primary-bg{
            background-color: #0066FF;
        }